.App {
  text-align: center;
}

ul{
  list-style: none;
}
.topbar{
  background-color: black;
  height: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.logobar{
  height: 60px;
  display: flex;
  justify-content: space-between;
}
/* .slidebar{
  
  background-color: brown;
} */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "SEBSansSerif",Arial,sans-serif;
    font-weight: 0.9rem;
    background: #eee;
}

h1,h2,h3,h4{
    line-height: 1.2;
}

p{
    line-height: 1.3;
}

a{
    text-decoration: none;
}

input{
  padding: 10px;
  margin: 5px;
  width: 200px;
}
 button{
  padding: 10px;
  border:0;
  background: transparent;
} 

.header{
    background-color: #020623;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    
}
.middle-box{
    display: flex;
    height: 600px;
}

.left-box{
    /* background: url(/images/skateboard.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
    width: 50%;
}
.right-box{
    background-color: #e4e4e4;
    width: 50%;
    padding: 50px 15px 15px 15px;
    overflow-y: auto;
    position: relative;
}
.footer{
    background-color: grey;
    padding: 15px;
}
.logo{
    width: 150px;
    fill: green;
    
}
.sinus-logo{
  color: white;
}
.right-header{
    display: flex;
}
.menu{
    margin: auto;
    width: 500px;
    text-transform: uppercase;
}
.category-menu{
  
  display: flex;
  justify-content: space-between;
}
.link-style{
  color: white;
}
.right-header > div {
    margin: auto 6px;
    padding: 5px;
}
.member-box{
  color : white;
  font-size: 1rem;
}

.member-box a{
  color : white;
  font-size: 1.8rem;
}
.basket-box{
  background-color: white;
  border-radius: 50% ;
  position: relative;

  color : rgb(67, 67, 67)
}
.basket-box a{
  padding: 2px ;
  color : #424345;
}
.left-footer{
    width: 40px;
}







.cart-qty{
  margin: auto;
}

.product-card{
  width: 200px;
  height: 300px;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.image-box{
  width: 200px;
  height: 200px;
}
.product-name{
  padding: 10px;
  align-self: self-start;
  font-weight: bold;
  text-transform: uppercase;
}
.product-price{
  padding: 10px;
  align-self: flex-end;
  font-weight: bold;
}
.body-page{
  padding-top: 100px;
}
.products-box{
  display: flex;
  flex-wrap: wrap;
}
.title-page{
  text-transform: uppercase;
  background-color: #060f53;
  color: white;
  padding: 15px;
  position: absolute;
  left: 0px;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 15px 5px 22px 2px rgba(0,0,0,0.42);
}
.title-page::before{
  position: absolute;
  content: '';
  right: -40px;
  top:0;
  border-top: 50px solid #060f53;
  border-right: 50px solid transparent;  
  
}
.title-page::after{
  position: absolute;
  content: '';
  right: -40px;
  bottom:0;
  border-bottom: 50px solid #060f53;
  border-right: 50px solid transparent;  
  
}

.product-link-box{
  color: #363030;
}

.image-box-cart{
  width: 60px;
  height: 60px;
}





.title {
  font-size: 70px;
  margin: 0;
  writing-mode: vertical-lr;
  text-align: center;
  line-height: .9;
}

.rotate {
   transform: rotate(180deg);
}

.title-box {
  color: #363030;
  font-family: fantasy ;
  display: grid;
  height: 400px;
  justify-content: safe;
  align-content: center;
  grid-template-columns: max-content max-content;
  /* text-shadow: 4px 4px 10px rgb(52, 51, 51); */
  text-transform: uppercase;
  padding-left: 25px;
  padding-top: 60px;
}

.basket-row{

  display: flex;
 justify-content: space-between;
  background-color: white;
  margin: 5px;
  /* column-gap : 1rem ;
  grid-template-columns: 2fr repeat(7, 1fr ); */
}

.basket-row > div {
  width: 10%;
  margin: auto;
}
.qty-box{
  display: flex;
  
}

.profduct-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}
.product-category{
  align-self: self-start;
}
.price-box{
  background-color: rgb(13, 140, 237);
  padding: 20px;
  border-bottom-left-radius: 20px ;
  border-top-left-radius:20px ;
  position: absolute;
  right: 0;
  box-shadow: 15px 5px 22px 2px rgba(0,0,0,0.42);
  color: white;
}
.addToCart{
  background-color: teal;
  color: white;
  border: teal;
}

.btn{
  background-color: teal;
  color: white;
  border: teal;
}

.btn:disabled{
  background-color: #a5a5a5e6;
}
.cart-number{
  position: absolute;
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 2px 5px;
  right: -10px;
  top: -10px;
}
.profile-container{
  display: flex;
  justify-content: space-between;
}
.personla-details{
  background-color: white;
  min-height: 100px;
  text-align: left;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 5px 5px 12px rgb(118, 118, 118);
}
.card-details-box{
  width: 350px;
  height: 200px;
  color: #e4e4e4;
  background: linear-gradient(rgb(5, 66, 159),rgb(10, 74, 184));
  text-align: left;
  padding: 15px;
  margin-top: 60px;
  border-radius: 8px;
  box-shadow: 5px 5px 12px rgb(118, 118, 118);
}
.card-number{
  text-align: center;
  padding-top:40px ;
  font-size: 2rem;
}
.card-name{
  text-transform: uppercase;
  padding-top: 15px;
  font-size: 1rem;

}
.date-cvv{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}